.a-options {
  color: currentColor;
}
.a-options:hover {
  text-decoration: none;
  color: #998675;
  cursor: pointer;
}
.a-options:active {
  color: #49362b;
  outline: none;
}
.button {
  display: block;
  width: 170px;
  min-height: 53px;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 53px;
  font-weight: 600;
}
.button:hover {
  text-decoration: none;
  color: #49362b;
  background-color: #998675;
  cursor: pointer;
}
.button:active {
  background-color: #bf9384;
  outline: none;
}
.button:focus {
  outline: none;
}
body {
  margin: 0 auto;
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  width: 1920px;
}
a {
  text-decoration: none;
}
p,
span {
  cursor: default;
}
@font-face {
  font-family: 'montserrat', 'arial', sans-serif;
  src: url("../fonts/montserrat/montserrat-regular.ttf");
}
@font-face {
  font-family: 'motserrat', 'arial', sans-serif;
  src: url("../fonts/montserrat/montserrat-extra-light.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'raleway', 'arial', sans-serif;
  src: url("../fonts/raleway/raleway-regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'raleway', 'arial', sans-serif;
  src: url("../fonts/raleway/raleway-semi-bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: 'raleway', 'arial', sans-serif;
  src: url("../fonts/raleway/raleway-extra-bold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: 'roboto', sans-serif;
  src: url("../fonts/roboto/roboto-regular.ttf");
  font-weight: 400;
}
.header {
  width: 1920px;
  background-image: url("../img/header-img.png");
  background-color: #555555;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 40px;
  background-size: cover;
  background-position: center;
}
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}
.header-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.logo {
  /*display: flex;
  align-items: center;*/
  display: block;
  width: 181px;
  color: #fff;
}
.logo:hover {
  color: currentColor;
}
.logo:hover:hover {
  text-decoration: none;
  color: #998675;
  cursor: pointer;
}
.logo:hover:active {
  color: #49362b;
  outline: none;
}
_:-ms-fullscreen,
:root .logo {
  padding-top: 150px;
}
.logo-svg {
  fill: currentColor;
  float: left;
}
.logo-txt {
  font-family: 'raleway', sans-serif;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -1.36px;
  line-height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo-txt:hover {
  cursor: pointer;
}
.burger-line,
#check-menu {
  display: none;
}
.menu-wrapper {
  margin: 0 auto;
}
.nav {
  width: 637px;
  line-height: 56px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu-nav {
  color: currentColor;
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  color: #fff;
  padding-right: 27px;
}
.menu-nav:hover {
  text-decoration: none;
  color: #998675;
  cursor: pointer;
}
.menu-nav:active {
  color: #49362b;
  outline: none;
}
.menu-nav:last-child {
  padding-right: 0;
}
.basket {
  border: none;
  background: transparent;
  margin-left: auto;
  height: 56px;
  margin-right: 40px;
}
.basket:focus {
  outline: none;
}
.basket-svg,
.search-svg {
  fill: #fff;
}
.basket-svg:hover,
.search-svg:hover {
  fill: #998675;
}
.basket-svg:active,
.search-svg:active,
.basket-svg:focus,
.search-svg:focus {
  fill: #49362b;
  outline: none;
}
#search,
.search-svg,
.basket-svg {
  cursor: pointer;
}
.search-svg {
  height: 56px;
  position: absolute;
  top: 0;
  right: 0;
}
.header-search {
  position: relative;
  height: 42px;
}
#search {
  color: white;
  height: 42px;
  width: 0;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  -webkit-transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 2;
}
#search:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 2px solid #F9F0DA;
}
.header-content {
  margin-top: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.arrow {
  display: block;
  width: 40px;
  height: 73px;
  position: relative;
  background: transparent;
  border: none;
}
.arrow:focus {
  outline: none;
}
.arrow:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid #d3c1ad;
  border-right: 2px solid #d3c1ad;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  position: absolute;
  top: 10px;
  left: -400px;
}
.arrow:hover:after {
  cursor: pointer;
  border-top: 2px solid #fdebd7;
  border-right: 2px solid #fdebd7;
}
.arrow:active:after {
  border-top: 2px solid #49362b;
  border-right: 2px solid #49362b;
}
_:-ms-lang(x),
_:-webkit-full-screen,
.arrow:after {
  left: -200px;
}
_:-ms-fullscreen,
:root .arrow:after {
  left: -200px;
}
.right-arrow {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.right-arrow:after {
  left: -400px;
}
.right-arrow _:-ms-lang(x),
.right-arrow _:-webkit-full-screen,
.right-arrow .right-arrow:after {
  left: -200px;
}
.right-arrow:hover:after {
  cursor: pointer;
  border-top: 2px solid #fdebd7;
  border-right: 2px solid #fdebd7;
}
.right-arrow:active:after {
  border-top: 2px solid #49362b;
  border-right: 2px solid #49362b;
}
.header-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.h2 {
  color: #ffffff;
  font-family: 'raleway', sans-serif;
  font-weight: 400;
  font-size: 36px;
}
.h1 {
  font-family: 'raleway', sans-serif;
  font-size: 52px;
  font-weight: 800;
  color: #ffffff;
}
.header-p {
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  color: #ffffff;
  width: 757px;
  text-align: center;
}
.button-primary {
  margin-top: 52px;
  display: block;
  width: 170px;
  min-height: 53px;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 53px;
  font-weight: 600;
}
.button-primary:hover {
  text-decoration: none;
  color: #49362b;
  background-color: #998675;
  cursor: pointer;
}
.button-primary:active {
  background-color: #bf9384;
  outline: none;
}
.button-primary:focus {
  outline: none;
}
.header-radio {
  width: 11px;
  height: 11px;
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 50%;
  margin-right: 9px;
  display: block;
}
.header-radio:hover {
  background: transparent;
  width: 15px;
  height: 15px;
  border: 2px solid #d3c1ad;
}
.header-radio:active {
  background: transparent;
  width: 15px;
  height: 15px;
  border: 2px solid #49362b;
}
.header-radio:last-child {
  margin-right: 0;
}
.carousel-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 159px;
}
/*-----------------Section 2-----------------*/
.web-app-design-section,
.counter {
  margin-top: 80px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: center;
}
.web-app-design-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
  text-align: center;
}
.web-app-design-block:after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 150px;
  height: 3px;
  background-color: #f1eee9;
}
.web-app-design-block:hover:after {
  background-color: #998675;
}
.web-app-design-block:hover {
  color: #998675;
}
.web-app-design-block:active {
  color: #998675;
}
.web-app-title {
  font-size: 22px;
  font-family: 'raleway', sans-serif;
  font-weight: 400;
  color: #555555;
  margin: 10px 0 10px 0;
}
.basic-font-p {
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  color: #8c8c8c;
}
.web-app-design-icon {
  fill: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 30px;
}
/*-----------------Section 3-----------------*/
.waxom {
  height: 700px;
  background-color: #fbfaf8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 345px 0 345px;
  overflow: hidden;
}
.h3 {
  color: #555555;
  font-size: 30px;
  font-weight: 600;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: 'raleway', sans-serif;
}
.waxom-p {
  width: 757px;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 0;
}
.waxom-pics {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 0 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.waxom-pic-1 {
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  margin-top: 68px;
}
.waxom-pic-2 {
  position: absolute;
  left: 0;
}
.waxom-pic-2:hover {
  z-index: 10;
}
_:-ms-lang(x),
_:-webkit-full-screen,
.waxom-pic-2 {
  position: absolute;
  left: 0;
  top: 380px;
}
_:-ms-fullscreen,
:root .waxom-pic-2 {
  position: absolute;
  left: 0;
  top: 380px;
}
.waxom-pic-3 {
  position: absolute;
  right: 0;
}
.waxom-pic-3:hover {
  z-index: 10;
}
/*-----------------Section 4 Purchase-----------------*/
.purchase {
  min-height: 150px;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.purchase-content {
  min-height: 150px;
}
.multi {
  color: #ffffff;
  font-size: 28px;
  font-family: 'raleway', sans-serif;
  font-weight: 400;
  float: left;
}
.multi-waxom {
  color: #c7b299;
}
.dont-forget {
  color: #615855;
  font-size: 18px;
  clear: both;
  float: left;
  margin: 0;
}
.button-purchase {
  display: block;
  width: 170px;
  min-height: 53px;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 53px;
  font-weight: 600;
  margin-top: -35px;
  float: right;
}
.button-purchase:hover {
  text-decoration: none;
  color: #49362b;
  background-color: #998675;
  cursor: pointer;
}
.button-purchase:active {
  background-color: #bf9384;
  outline: none;
}
.button-purchase:focus {
  outline: none;
}
/*-----------------Section 5 Latest Projects-----------------*/
.latest-projects {
  margin-top: 80px;
  margin-bottom: 80px;
}
.latest-projects-title {
  text-align: center;
  margin-top: 80px;
}
.latest-projects-p {
  width: 757px;
  margin: 24px auto 40px auto;
  text-align: center;
}
.buttons-nav {
  text-align: center;
}
.button-nav {
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  width: 120px;
  min-height: 32px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: white;
  line-height: 21px;
  color: #8c8c8c;
  margin-right: 10px;
}
.button-nav:hover {
  background-color: #998675;
  color: #ffffff;
  cursor: pointer;
}
.button-nav:active {
  background-color: #bf9384;
  outline: none;
}
.button-nav:focus {
  outline: none;
}
.button-nav:last-child {
  margin-right: 0;
}
.button-nav-active {
  background-color: #998675;
  color: #ffffff;
}
.latest-project-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.latest-projects-article {
  min-height: 337px;
  width: 370px;
  background-color: #fbfaf8;
  padding-bottom: 27px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
}
.latest-projects-article:hover {
  background-color: #362f2d;
  cursor: pointer;
}
.latest-projects-article:active {
  background-color: #bf9384;
  outline: none;
}
.latest-projects-article:focus {
  outline: none;
}
.latest-projects-article:nth-child(3),
.latest-projects-article:nth-child(6) {
  margin-right: 0;
}
.latest-projects-article:after {
  content: '';
  position: absolute;
  /* Абсолютное позиционирование */
  left: 20px;
  bottom: 127px;
  /* Положение треугольника */
  border: 20px solid transparent;
  border-bottom: 15px solid #fbfaf8;
}
.latest-projects-article:hover:after {
  border: 20px solid transparent;
  border-bottom: 15px solid #362f2d;
}
.latest-projects-article:hover .latest-projects-article-title {
  color: #ffffff;
}
.latest-projects-article:hover .latest-projects-article-subtitle {
  color: #c7b299;
}
.latest-projects-article:hover .latest-projects-article-img {
  opacity: 0.4;
}
.latest-projects-article:hover .hidden-btn {
  display: block;
  fill: #ffffff;
}
.latest-projects-article:hover .hidden-btn:hover {
  fill: #c7b299;
  cursor: pointer;
}
.latest-projects-article:hover .hidden-btn-2 {
  display: block;
  fill: white;
}
.latest-projects-article:hover .hidden-btn-2:hover {
  fill: #c7b299;
  cursor: pointer;
}
.latest-projects-article-img {
  margin-bottom: 30px;
  text-align: center;
  vertical-align: center;
  position: relative;
}
.latest-projects-article-title {
  display: block;
  font-family: 'raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #c7b299;
  margin: 0 0 0 30px;
}
.latest-projects-article-subtitle {
  display: block;
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  color: #d1d1d1;
  margin: 14px 0 0 30px;
}
.link-icon {
  color: white;
}
.hidden-btn {
  border: none;
  background: transparent;
  position: absolute;
  display: none;
  top: 30%;
  left: 35%;
}
.hidden-btn:focus {
  outline: none;
}
.hidden-btn-2 {
  border: none;
  background: transparent;
  position: absolute;
  display: none;
  top: 30%;
  left: 50%;
}
.hidden-btn-2:focus {
  outline: none;
}
.lupa-icon {
  color: white;
}
.button-load {
  margin: 0 auto;
}
/*-----------------Section 6 Video Presentation-----------------*/
.video-presentation {
  position: relative;
}
.video-presentation-vid {
  width: 1920px;
  height: auto;
}
.video-presentation-content {
  position: absolute;
  top: 30%;
  left: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
_:-ms-lang(x),
_:-webkit-full-screen,
.video-presentation-content {
  left: 25%;
}
_:-ms-fullscreen,
:root .video-presentation-content {
  left: 25% !important;
}
.video-font {
  color: white;
}
.play {
  background-color: transparent;
  border: none;
  margin: auto;
  width: 80px;
}
.play:focus {
  outline: none;
}
.play-icon {
  fill: white;
  background-color: transparent;
  -webkit-transition: 2s;
  transition: 2s;
}
.play-icon:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.play-icon:active {
  outline: none;
}
.play-icon:focus {
  outline: none;
}
.duration {
  opacity: 0.4;
}
.mobile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mobile-devices {
  min-height: auto;
  background-color: #fbfaf8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
}
.mobile-title {
  margin-top: 0;
}
.mobile-title,
.mobile-p {
  width: 657px;
}
.mobile-title {
  margin-top: 120px;
}
.mobile-p {
  margin-right: 0;
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  color: #8c8c8c;
  line-height: 28px;
}
.mobile-devices-content {
  min-width: 627px;
  float: right;
}
.mobile-content-list {
  margin-left: 50px;
  list-style-type: none;
}
.mobile-li {
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  color: #8c8c8c;
  line-height: 28px;
  position: relative;
}
.mobile-li:before {
  content: url("../img/arrow-list.png");
  position: absolute;
  left: -49px;
  top: 2px;
}
.mobile-devices-media {
  display: none;
}
.counter {
  min-height: 300px;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}
_:-ms-fullscreen,
:root .counter {
  padding-top: 70px;
}
.counter-content {
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.counter-content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 135px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 70px;
}
.counter-content-block:after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 30px;
  height: 3px;
  background-color: white;
}
.counter-content-block:last-child {
  margin-right: 0;
}
.counter-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 30px;
}
.counter-number {
  font-family: 'montserrat', sans-serif;
  color: white;
  font-weight: 300;
  font-size: 48px;
  margin: 0;
}
.counter-font-p {
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #c7b299;
  margin-bottom: 30px;
}
.recent-posts-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.recent-posts-article {
  min-height: 395px;
  width: 370px;
  background-color: white;
  border: 1px solid #f8f8f8;
  padding-bottom: 27px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.recent-posts-article:hover {
  background-color: #362f2d;
  cursor: pointer;
}
.recent-posts-article:active {
  background-color: #bf9384;
  outline: none;
}
.recent-posts-article:focus {
  outline: none;
}
.recent-posts-article:hover .recent-posts-title {
  color: #c7b299;
}
.recent-posts-article:hover .recent-posts-subtitle {
  color: #ffffff;
}
.recent-posts-article:hover .recent-posts-img {
  opacity: 0.4;
}
.recent-posts-article:hover .date {
  color: #ffffff;
  background-color: #c7b299;
}
.recent-posts-article:hover .month {
  color: #ffffff;
  background-color: #a48d72;
}
.recent-posts-title {
  font-family: 'raleway', sans-serif;
  font-weight: 500;
  color: #555555;
  font-size: 20px;
  margin-top: 30px;
}
.recent-posts-subtitle {
  color: #8c8c8c;
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  margin-top: 19px;
  margin-bottom: 27px;
}
.read-more {
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  color: #c7b299;
}
.read-more:after {
  content: url("../img/read-more-icon.png");
  width: 5px;
  position: absolute;
  left: 110px;
}
.read-more:hover {
  text-decoration: underline;
}
.recent-posts-title,
.recent-posts-subtitle,
.read-more {
  margin-left: 29px;
}
.date {
  width: 50px;
  height: 35px;
  border-radius: 3px 3px 0 0;
  background-color: #363636;
  color: #ffffff;
  font-family: 'montserrat', sans-serif;
  font-size: 24px;
  line-height: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: center;
}
.month {
  width: 50px;
  height: 25px;
  border-radius: 0 0 3px 3px;
  background-color: #252525;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 54px;
  left: 20px;
}
.posts-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}
.recent-posts-button {
  width: 29px;
  height: 24px;
  border: none;
  background-color: transparent;
}
.recent-posts-button:hover {
  cursor: pointer;
}
.recent-posts-button:focus {
  outline: none;
}
.recent-posts-button:active {
  outline: none;
}
.btn-1 {
  padding-right: 25px;
}
.btn-1-icon,
.btn-2-icon {
  fill: #d1d1d1;
}
.btn-1-icon:hover,
.btn-2-icon:hover {
  fill: #c7b299;
}
.btn-1-icon:focus,
.btn-2-icon:focus {
  outline: none;
}
.btn-1-icon:active,
.btn-2-icon:active {
  outline: none;
  fill: #49362b;
}
.logos {
  min-height: 489px;
  background-image: url("../img/logo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logotype {
  padding-right: 90px;
}
.logotype:last-child {
  padding-right: 0;
}
.logotype:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.footer-1 {
  min-height: 508px;
  background-color: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
}
.logo-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 347px;
}
.logo-article-p {
  width: 258px;
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  color: #555555;
  line-height: 24px;
}
.logo-article-read-more {
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  color: white;
  position: relative;
}
.logo-article-read-more:after {
  content: url("../img/read-more-icon-white.png");
  width: 5px;
  position: absolute;
  left: 80px;
}
.logo-article-read-more:hover {
  text-decoration: underline;
}
.our-twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 347px;
}
.h4 {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
  margin: 0 0 35px 0;
}
.footer-recent-posts,
.our-twitter {
  width: 270px;
  margin-right: 30px;
}
.our-twitter {
  min-height: 347px;
}
.footer-recent-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #252525;
  padding-bottom: 20px;
}
.footer-recent-post:last-child {
  border-bottom: none;
}
.footer-recent-post:hover .footer-recent-post-time {
  color: #ffffff;
}
.footer-recent-post:hover .footer-recent-post-p {
  color: #c7b299;
}
.footer-recent-post:hover .footer-recent-post-p:hover {
  cursor: pointer;
}
.footer-recent-post-p {
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  color: #555555;
  width: 270px;
  margin-bottom: 0;
}
.time-1 {
  margin-top: 20px;
}
.footer-recent-post-time {
  color: #363636;
  font-family: 'montserrat', sans-serif;
  font-size: 12px;
  margin-top: 20px;
}
.twit {
  color: #00bff3;
  cursor: pointer;
}
.twit-link {
  color: #959595;
}
.twit-link:hover {
  text-decoration: underline;
}
.dribble-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 280px;
}
.dribble-widget:nth-child(3),
.dribble-widget:nth-child(5) {
  padding-right: 0;
  padding-bottom: 0;
}
.widget-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.widget-pic:hover {
  -webkit-filter: saturate(200%);
          filter: saturate(200%);
  cursor: pointer;
}
_:-ms-fullscreen,
:root .widget-pic:hover {
  transform: scale(1.2);
}
.margin-top {
  margin-top: 10px;
}
.footer-recent-posts.margin-top > div:nth-child(2) > time {
  margin: 0;
}
.our-twitter.margin-top > div:nth-child(2) > p {
  margin: 0;
}
.our-twitter.margin-top > div:nth-child(2) > time {
  margin-top: 20px;
}
.footer-2 {
  height: 111px;
  background-color: #111111;
  padding-top: 45px;
}
.copyright {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.copyright > a:nth-child(4):after {
  border-right: none;
}
.copy {
  font-family: 'montserrat', sans-serif;
  font-size: 13px;
  color: #555555;
  position: relative;
  margin-right: 30px;
}
.copy:after {
  content: " ";
  border-right: 1px solid #252525;
  position: relative;
  left: 15px;
}
.copy:hover {
  color: #c7b299;
  cursor: pointer;
}
.copyright-c:hover {
  color: #555555;
}
.copy-link {
  color: #959595;
}
.copy-link:hover {
  color: #c7b299;
}
.author {
  float: right;
}
.author > span:nth-child(2):after {
  border-right: none;
}
@media (max-width: 480px) {
  body {
    width: 100%;
  }
  .header {
    width: 100%;
    min-height: auto;
  }
  .header-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container {
    width: 100%;
  }
  .logo {
    width: 81px;
    margin-left: 20px;
  }
  .burger-line {
    display: block;
  }
  .menu-wrapper {
    width: 320px;
    position: relative;
    color: white;
    text-align: center;
    height: 40px;
  }
  #check-menu {
    display: none;
  }
  .check-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
    line-height: 40px;
  }
  .burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: #fff;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .second,
  .third {
    top: 18px;
  }
  .fourth {
    top: 28px;
  }
  .nav {
    max-height: 0;
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    font-size: 0;
    overflow: hidden;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .menu-nav {
    width: 100%;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #49362b;
  }
  .menu-nav:hover {
    color: #BF9384;
  }
  #check-menu:checked ~ .nav {
    max-height: 700px;
    font-size: 16px;
  }
  #check-menu:checked ~ .first {
    display: none;
  }
  #check-menu:checked ~ .second {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #check-menu:checked ~ .third {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  #check-menu:checked ~ .fourth {
    display: none;
  }
  .basket,
  .arrow,
  .header-content,
  .carousel-btn,
  #search,
  .search-svg {
    display: none;
  }
  /*-----------------Section 2-----------------*/
  .web-app-design-block {
    margin: 0 auto 30px auto;
    width: 220px;
  }
  .web-app-design-block:after {
    width: 50px;
  }
  /*-----------------Section 3-----------------*/
  .waxom {
    display: none;
  }
  /*-----------------Section 4-----------------*/
  .purchase {
    display: none;
  }
  /*-----------------Section 5-----------------*/
  .buttons-nav {
    display: none;
  }
  .latest-projects-p {
    width: 400px;
  }
  .latest-projects-article:nth-child(2),
  .latest-projects-article:nth-child(3),
  .latest-projects-article:nth-child(4),
  .latest-projects-article:nth-child(5),
  .latest-projects-article:nth-child(6) {
    display: none;
  }
  .latest-projects-article {
    margin: 0 auto;
  }
  .button-load {
    margin: 30px auto 0 auto;
  }
  /*-----------------Section 6-----------------*/
  .video-presentation-vid {
    width: 100%;
    height: 580px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .video-presentation-content {
    top: 20%;
    left: 10%;
  }
  /*-----------------Section 7-----------------*/
  .mobile-devices {
    display: none;
  }
  .mobile-devices-media {
    display: block;
  }
  .mobile-devices-content {
    float: none;
    min-width: 100%;
  }
  .mobile-title,
  .mobile-p {
    width: 100%;
    text-align: center;
  }
  .mobile-p {
    width: 440px;
    margin: 0;
    padding-left: 20px;
    font-size: 14px;
    text-align: justify;
  }
  .phone-in-hand {
    width: 220px;
    height: 323px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .mobile-device-content-img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 30px;
  }
  .mobile-content-list {
    margin-left: -30px;
  }
  .mobile-li {
    width: 240px;
    font-size: 12px;
  }
  .mobile-li:before {
    left: -29px;
  }
  /*-----------------Section 8-----------------*/
  .counter {
    display: none;
  }
  /*-----------------Section 9-----------------*/
  .recent-posts-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recent-posts-article {
    margin: 0 auto;
  }
  .recent-posts-button {
    display: none;
  }
  /*-----------------Section 10-----------------*/
  .logos {
    min-height: auto;
  }
  .logotype {
    padding-right: 20px;
  }
  .logotype img {
    width: 100px;
  }
  .footer-1 {
    display: none;
  }
  .copyright {
    margin: 0 auto;
    float: none;
    width: 440px;
  }
  .author {
    float: none;
    width: 100%;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
