.a-options {
  color: currentColor;
}
.a-options:hover {
  text-decoration: none;
  color: #998675;
  cursor: pointer;
}
.a-options:active {
  outline: none;
}
.button {
  display: block;
  width: 170px;
  height: 53px;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 53px;
  font-weight: 600;
}
.button:hover {
  text-decoration: none;
  color: #49362b;
  background-color: #998675;
  cursor: pointer;
}
.button:active {
  border: #bf9384;
}
a:not([href]) {
  color: white;
}
body {
  margin: 0 auto;
  font-family: Montserrat;
}
.header {
  width: 100%;
  height: 100vh;
  background-image: url("../img/header-img.png");
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 40px;
  background-size: cover;
  background-position: center;
}
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}
.header-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.logo {
  /*display: flex;
  align-items: center;*/
  display: block;
  width: 181px;
  color: #fff;
}
.logo:hover {
  color: currentColor;
}
.logo:hover:hover {
  text-decoration: none;
  color: #998675;
  cursor: pointer;
}
.logo:hover:active {
  outline: none;
}
.logo-svg {
  fill: currentColor;
  float: left;
}
.logo-txt {
  font-family: Raleway;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -1.36px;
}
.nav {
  width: 637px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  margin-left: auto;
}
.menu-nav {
  color: currentColor;
  font-family: Montserrat, serif;
  font-size: 14px;
  color: #fff;
  padding-right: 30px;
}
.menu-nav:hover {
  text-decoration: none;
  color: #998675;
  cursor: pointer;
}
.menu-nav:active {
  outline: none;
}
.menu-nav:last-child {
  padding-right: 0;
}
.basket {
  border: none;
  background: transparent;
  margin-left: auto;
  height: 56px;
  padding-right: 30px;
}
.basket:focus {
  outline: none;
}
.basket-svg,
.search-svg {
  fill: #fff;
}
.basket-svg:hover,
.search-svg:hover {
  fill: #998675;
}
.basket-svg:active,
.search-svg:active,
.basket-svg:focus,
.search-svg:focus {
  outline: none;
}
#search,
.search-svg {
  cursor: pointer;
}
.search-svg {
  height: 56px;
}
.header-content {
  margin-top: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.arrow {
  display: block;
  width: 40px;
  height: 73px;
  position: relative;
  background: transparent;
  border: none;
}
.arrow:focus {
  outline: none;
}
.arrow:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid #d3c1ad;
  border-right: 2px solid #d3c1ad;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  position: absolute;
  top: 10px;
  left: -400px;
}
.arrow:hover:after {
  border-top: 2px solid #fdebd7;
  border-right: 2px solid #fdebd7;
}
.right-arrow {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.right-arrow:after {
  left: -400px;
}
.right-arrow:hover:after {
  border-top: 2px solid #fdebd7;
  border-right: 2px solid #fdebd7;
}
.header-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* justify-content: center; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.h2 {
  color: #ffffff;
  font-family: Raleway;
  font-size: 36px;
}
.h1 {
  font-family: "Raleway - Extra Bold", sans-serif;
  font-size: 52px;
  font-weight: 800;
  color: #ffffff;
}
.header-p {
  font-family: Montserrat, serif;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}
.button-primary {
  margin-top: 52px;
  display: block;
  width: 170px;
  height: 53px;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 53px;
  font-weight: 600;
}
.button-primary:hover {
  text-decoration: none;
  color: #49362b;
  background-color: #998675;
  cursor: pointer;
}
.button-primary:active {
  border: #bf9384;
}
.header-radio {
  width: 11px;
  height: 11px;
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 50%;
  margin-right: 9px;
  display: block;
}
.header-radio:hover {
  background: transparent;
  width: 15px;
  height: 15px;
  border: 2px solid #d3c1ad;
}
.header-radio:last-child {
  margin-right: 0;
}
.carousel-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 159px;
}
/*-----------------Section 2-----------------*/
.web-app-design-section {
  margin-top: 80px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: center;
}
.web-app-design-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
  text-align: center;
}
.web-app-design-block:after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 150px;
  height: 3px;
  background-color: #f1eee9;
}
.web-app-design-block:hover:after {
  background-color: #998675;
}
.web-app-design-block:hover {
  color: #998675;
}
.web-app-title {
  font-size: 22px;
  font-weight: 400;
  color: #555555;
}
.basic-font-p {
  font-family: Montserrat, serif;
  font-size: 14px;
  color: #8c8c8c;
}
.web-app-design-icon {
  fill: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 30px;
}
/*-----------------Section 3-----------------*/
.waxom {
  height: 700px;
  background-color: #fbfaf8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 80px;
  position: relative;
  overflow: hidden;
}
.h3 {
  color: #555555;
  font-size: 30px;
  font-weight: 400;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: "Raleway - Semi Bold", sans-serif;
}
.waxom-p {
  width: 757px;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  margin-top: 24px;
}
.waxom-pic-1 {
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  margin-top: 40px;
}
.waxom-pic-2 {
  position: absolute;
  left: 225px;
  top: 330px;
}
.waxom-pic-2:hover {
  z-index: 10;
}
.waxom-pic-3 {
  position: absolute;
  left: 686px;
  top: 330px;
}
.waxom-pic-3:hover {
  z-index: 10;
}
/*-----------------Section 4 Purchase-----------------*/
.purchase {
  height: 150px;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.multi {
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  float: left;
}
.multi-waxom {
  color: #c7b299;
}
.dont-forget {
  color: #615855;
  font-size: 18px;
  clear: both;
  float: left;
  margin: 0;
}
.btn-purchase {
  display: block;
  width: 170px;
  height: 53px;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 53px;
  font-weight: 600;
  margin-top: -35px;
  float: right;
}
.btn-purchase:hover {
  text-decoration: none;
  color: #49362b;
  background-color: #998675;
  cursor: pointer;
}
.btn-purchase:active {
  border: #bf9384;
}
